[Unit]
Description=Run auto theme switcher every 1 minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=auto-theme.service

[Install]
WantedBy=timers.target
